# App Config
PORT=
API_BASE_PATH=
REQ_PER_SEC_LIMIT=
ENABLE_PROMETHEUS=

# Auth Config
JWT_SECRET=
TOKEN_EXPIRATION=

# Log Config
LOG_LEVEL=

# Mongo Config
MONGO_HOST=
MONGO_PORT=
MONGO_DB_NAME=
MONGO_DB_USER=
MONGO_DB_PASS=

# Postgres Config
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASS=

# S3 Config
S3_ENDPOINT=
S3_BUCKET=

# S3 Secret
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Client Config
PETSTORE_URL=

# For Developement Environment (compose.dev.yaml)
MONGO_USER=
MONGO_PASS=

MONGO_EXPRESS_PORT=
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASS=

PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASS=
